<div class="row">
<div class="col-md-12">
    <h1 class="display-4">Agregar un nuevo cliente!</h1>
    <br>
    <form [formGroup]="form" (ngSubmit)="SaveCustomer()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="CustomerName" placeholder="Nombre" [ngClass]="{ 'error': !form.controls['CustomerName'].valid && form.dirty}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control"  formControlName="CustomerIdentificationNumber" placeholder="Número de Identificacion" [ngClass]="{ 'error': !form.controls['CustomerIdentificationNumber'].valid && form.dirty}">     
        </div>
        <div class="form-group">
            <input type="number" class="form-control" formControlName="CustomerPhoneNumber" placeholder="Número de telefono" [ngClass]="{ 'error': !form.controls['CustomerPhoneNumber'].valid && form.dirty}">          
          </div>
        <button type="submit" class="btn btn-primary"> Guardar</button>
    </form>
</div>
</div>