<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Agregar un nuevo salon!</h1>
        <br>
        <form [formGroup]="form" (ngSubmit)="SavePartyRoom()">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="PartyRoomName" placeholder="Nombre" [ngClass]="{ 'error': !form.controls['PartyRoomName'].valid && form.dirty}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="PartyRoomDescription" placeholder="Descripcion" [ngClass]="{ 'error': !form.controls['PartyRoomDescription'].valid && form.dirty}">
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="PartyRoomType">
                    <option [value]="type.value" *ngFor="let type of types" >{{type.key}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" formControlName="PartyRoomPricePerHour" placeholder="Precio por hora de alquiler" [ngClass]="{ 'error': !form.controls['PartyRoomPricePerHour'].valid && form.dirty}">
            </div>
            <div class="checkbox">
                <label>Pantallas<input type="checkbox" class="form-control" formControlName="PartyRoomScreens"></label>
            </div>
            <div class="checkbox">
                <label >Equipo de sonido<input type="checkbox" class="form-control" formControlName="PartyRoomSound"></label>
            </div>
            <div class="checkbox">
                 <label >Aire acondicionado<input type="checkbox" class="form-control" formControlName="PartyRoomAirConditioner"></label>
            </div>
            <div class="checkbox">
                <label >Video Beam<input type="checkbox" class="form-control" formControlName="PartyRoomVideoBeam"></label>
            </div>
            <div class="checkbox">
                <label >Butacas de lujo<input type="checkbox" class="form-control" formControlName="PartyRoomLuxuryArmchairs"></label>
            </div>
            
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </form>
    </div>
</div>